{{>partials/header}}     

    Opa tudo bem {{ name }} {{lastName}} tudo bem?
    {{#showOld}}
      Como vai a vida?
    {{/showOld}}
    {{^showOld}}
      Beleza?
    {{/showOld}}

    <hr/>

    <h2>Produtos</h2>
    <ul>
      {{#products}}
        {{>partials/productItem}}
      {{/products}}
    </ul>

    <hr/>

    <h2>Frases do dia</h2>
    <ul>
      {{#frasesDoDia}}
        <li>{{.}}</li>
      {{/frasesDoDia}}

      {{^frasesDoDia}}
        Não ha frases motivacionais 
      {{/frasesDoDia}}
    </ul>
{{>partials/footer}}