<html>
  <head>
    <title>Pagina Home</title>
  </head>
  <body>
    <h1>Titulo da pagina </h1>
    <hr/>
    
     Opa tudo bem {{ name }} {{lastName}} tudo bem?
     {{#showOld}}
      Como vai a vida?
     {{/showOld}}
  </body>
</html>